.Activity {
  
}
.activity-btns {
  display: flex;
  justify-content: flex-end;
}
.activity-btns a {
  text-decoration: none;
  font-family: 'Baloo 2', cursive;
  border-radius: 10px;
  font-size: 18px;
  margin: 18px;
  font-weight: 500;
  padding: 5px;
  background-color: #fff;
}
.exercise-btn {
  color: #2b6684;
  border: 2px solid #2b6684;
}
.exercise-btn:hover {
  color: #fff;
  background-color: #2b6684;
}

.nutrition-btn { 
  color: #012e67;
  border: 2px solid #012e67;
}
.nutrition-btn:hover {
  color: #fff;
  background-color: #012e67;
}

.sleep-btn {
  color: #032e42;
  border: 2px solid #032e42;
}
.sleep-btn:hover {
  color: #fff;
  background-color: #032e42;
}