.Navbar {
  background-color: #c7cedf;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
.Navbar a, .logout-link {
  font-family: 'Baloo 2', cursive;
  text-decoration: none;
  color: #000;
  margin: 5px 10px;
  font-size: 20px;
  padding: 0 5px;
}

.home-link {
  width: 50px;
}
.home-link img {
  width: 100%;
}
.login-link, .logout-link {
  background-color: #dbb0a0;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 1px rgb(131,105,83);

}
.signup-link {
  background-color: #eab586;
  border-radius: 4px;
  box-shadow: -3px -3px 5px 1px rgb(131,105,83);
}