.sleep-btn {
  text-decoration: none;
  font-family: 'Baloo 2', cursive;
  border-radius: 10px;
  font-size: 18px;
  margin: 18px;
  font-weight: 500;
  padding: 5px;
  background-color: #fff;

  float: right;
}