.HomeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-img {
  cursor: pointer;
  width: 170px;
  height: 160px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 2px 2px 10px 3px #CFCFCF;
}
.item-img:hover {
  box-shadow: 8px 8px 40px 10px rgb(182, 223, 223);
}

.item-img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-img img:hover {
  max-width: 110%;
  width: 110%;
  max-height: 110%;
  height: 110%;
}
